body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Image section & About */

.image-section {
  width: 100%;
  height: 500px; /* Assuming average navbar height is 60px */
  background: url('./images/headImage.jpg') no-repeat center center;
  background-size: cover;
}

.about-us-section {
  padding: 2em;
  color: #6F4E37;
  background-color: #FFFDF9;
  text-align: center;
}

.about-us-section h2 {
  margin-bottom: 1em;
}

.about-us-section p {
  margin: 0 auto;
  max-width: 600px;
}
